services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment: 
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - mlops-network

  kafka:
    image:  confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST: PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS:  "PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - mlops-network

  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: changeme
    volumes: 
      - mongodb_data:/data/db
    networks:
      - mlops-network

  postgres: 
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432" # 포트 충돌을 방지하기 위하여, 외부 포트를 5433으로 변경
    networks:
      - mlops-network

  airflow-webserver:
    build: .
    container_name: airflow-webserver
    depends_on:
      - postgres
    environment:
      AIRFLOW__WEBSERVER__SECRET_KEY:  "Ef028BjjqTby_s8eTwtrFsAFW2-SC_SpEkOJp5iaWv8"
      PYTHONPATH: /opt/airflow  
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__FERNET_KEY: ""
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      MONGODB_HOST:  mongodb
      MONGODB_PORT:  "27017"
      MONGODB_USERNAME: admin
      MONGODB_PASSWORD: changeme
    volumes: 
      - ./src/airflow/dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./config:/opt/airflow/config
      - ./models:/opt/airflow/models
      - ./data:/opt/airflow/data
    ports: 
      - "8080:8080"
    command: webserver
    networks:
      - mlops-network

  airflow-scheduler:
    build: .
    container_name: airflow-scheduler
    depends_on:
      - postgres
    environment:
      AIRFLOW__WEBSERVER__SECRET_KEY: "Ef028BjjqTby_s8eTwtrFsAFW2-SC_SpEkOJp5iaWv8"
      PYTHONPATH: /opt/airflow 
      AIRFLOW__CORE__EXECUTOR:  LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__FERNET_KEY: ""
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      MONGODB_HOST: mongodb
      MONGODB_PORT: "27017"
      MONGODB_USERNAME: admin
      MONGODB_PASSWORD: changeme
    volumes: 
      - ./src/airflow/dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
      - ./config:/opt/airflow/config
      - ./models:/opt/airflow/models
      - ./data:/opt/airflow/data
    command: scheduler
    networks:
      - mlops-network

volumes:
  mongodb_data:
  postgres_data: 

networks:
  mlops-network:
    driver: bridge